@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

.MathJax {
    font-size: 1.3em !important;
}

html {
    font-size: 16px;
    line-height: 1.5;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0 0;
    padding: 0;
}

body {
    font-family: 'Tahoma', sans-serif;
    background-color: #fff;
    width: 960px;
    margin: auto;
}

#container {
    width: 940px;
    margin: auto;
    clear: both;
    background-color: #fff;
    padding: 2% 0;
}

#header {
    top: 0;
    position: fixed;
    width: 940px;
}

#content {
    margin-top: 50px;
    font-size: 1rem;
    text-align: justify;
}

p {
    margin-top: 2%;
}

ul {
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 0.9rem;
}

nav {
    color: white;
    background-color: #004;
    font-size: 1.5rem;
    margin-bottom: 3%;
    height: 40px;
}

nav img {
    height: 40px;
}

nav a {
    display: inline-table;
}

h1, h2, h3, h4, h5 {
    margin-top: 3%;
    margin-bottom: 1%;
    color: darkred;
}

h1 a, h2 a, h3 a, h4 a, h5 a, #content a {
    color: #004;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, #content a:hover {
    color: darkred;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.3rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1.15rem;
}

audio {
    width: 60%;
    float: right;
}

a {
    text-decoration: inherit;
}


b.language {
    position: absolute;
    padding: 1%;
    line-height: 100%;
}

.dropdown {
    width: 30%;
    padding-right: 10px;
    float: right;
    margin: 0;
    display: inline-block;
    color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #004;
    width: 30%;
    padding: 5px;
}

.dropdown-content a {
    text-decoration: none;
    display: block;
    text-align: left;
    padding: 10px;
    color: white;
}

.dropdown-content a:hover {
    background-color: white;
    color: darkred;
}

.dropdown:hover .dropdown-content {
    display: block;
}

figure {
  text-align: center;
  width: 70%;
  display: block;
  margin: auto;
}

img {
  width: 100%
}

figcaption {
  background-color: #004;
  color: white;
}